
<div class="container col-xxl-12 px-4 py-5">
    <div class="card">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <div class="col-lg-6">
                <div class="content-header">
                    <h1>Forget Password</h1>
                    <P>รีเซตรหัสผ่าน</P>
                </div>
                <div class="content-body">
                    <label for="email" class="form-label">Email :</label>
                    <input type="text" id="email" class="form-control mb-3">
                    
                </div>

                <div class="content-footer">
                 
                    <span>
                     
                        <p><a routerLink="/register">สมัครสมาชิก</a></p>

                    </span>
                    <button type="button" class="btn btn-outline-primary">Send Email</button>
                </div>


            </div>

            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://media.istockphoto.com/id/1146517111/photo/taj-mahal-mausoleum-in-agra.jpg?s=612x612&w=0&k=20&c=vcIjhwUrNyjoKbGbAQ5sOcEzDUgOfCsm9ySmJ8gNeRk="
                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
</div>